@import "variables.less";

html, body {
	margin: 0;
	padding: 0;
	font-family: @font;

	* {
		box-sizing: border-box;
	}

	#Container {
		width: 992px;
		margin: 15px auto;

		&:after {
			content: "";
			display: table;
			clear: both;
		}

		header {
			margin-bottom: 25px;
			clear: both;

			img {
				display: inline-block;
				float: left;
			}

			#Menu {
				display: inline-block;
				float: left;
				margin: 15px 0 0 85px;
				text-align: center;
				font-size: 24px;
				font-weight: bolder;
				line-height: 24px;

				.category {
					display: inline-block;
					margin-right: 25px;
					transition: 0.2s all;

					i {
						font-size: 12px;
						vertical-align: middle;
						margin-right: 5px;
						line-height: 24px;
					}

					&:hover {
						color: @c-blue;
						cursor: pointer;
						transition: 0.2s all;
					}

					&.active {
						color: @c-orange;
					}
				}
			}
		}

		#Content {
			width: 100%;
			text-align: center;
			margin: 25px 0;

			.category {
				display: inline-block;
				float: left;
				width: 32%;
				border: 1px solid @c-black;
				margin: 0 5px;
				padding: 25px 10px;
				font-size: 24px;
				cursor: pointer;
				transition: 0.2s all;

				&:hover {
					background-color: @c-light-gray;
					transition: 0.2s all;
				}

				.svg {
					fill: red;
					width: auto;
					height: 50px;
				}
			}
		}

		.column {
			float: left;
			padding-bottom: 10px;

			span {
				display: block;
			}

			.product {
				display: block;
				border: 1px solid @c-black;
				margin: 10px 0;
				padding: 10px 10px 25px 10px;
				clear: both;
				cursor: pointer;
				transition: 0.2s all;

				&:hover {
					background-color: @c-light-gray;
					transition: 0.2s all;
				}

				.productImage {
					display: inline-block;
					width: 25%;

					img {
						max-height: 125px;
						width: auto;
						max-width: 120px;
					}
				}

				.productInfo {
					display: inline-block;
					width: 75%;
					vertical-align: top;
					text-align: left;

					h3 {
						font-size: 24px;
						padding: 0;
						margin: 0;
					}

					.productPriceRange {
						color: @c-orange;
						font-size: 30px;
						font-weight: bolder;
						margin-top: 5px;
						text-align: center;
					}

					.productsCount {
						font-size: 14px;
						margin-top: 5px;
					}
				}
			}
		}

		footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			color: @c-black;
			background-color: @c-white;
			text-align: center;
			padding: 5px;
		}
	}

	@media only screen and (max-width: 992px) {
		#Container {
			max-width: 100%;
			margin: 15px 0;
			padding: 0 5px;

			header {
				margin-bottom: 0;

				img {
					display: block;
					margin: 0 auto;
					float: none;
				}

				#Menu {
					display: block;
					float: none;
					margin: 20px 0 0 0;

					.category {
						display: block;
						width: 100%;
						margin: 5px 0;
					}
				}
			}

			#Content {
				margin: 5px 0 0 0;

				.category {
					display: block;
					width: 100%;
					margin: 5px 0;
					padding: 5px 0;
				}
			}

			footer {
				padding: 0;
			}
		}
	}

	@media only screen and (max-width: 585px) {
		.column {
			float: left;
			padding-bottom: 10px;

			span {
				display: block;
			}

			.product {
				display: block;
				border: 1px solid @c-black;
				margin: 10px 0;
				padding: 10px 10px 25px 10px;
				clear: both;
				cursor: pointer;
				transition: 0.2s all;

				&:hover {
					background-color: @c-light-gray;
					transition: 0.2s all;
				}

				.productImage {
					display: none !important;
				}

				.productInfo {
					display: inline-block;
					width: 100%;
					vertical-align: top;
					text-align: center !important;
				}
			}
		}
	}
}
